version: "3.9"

services:
  myapp:
    image: ar2rworld/osyne-telegram-video-downloader:main
    restart: unless-stopped
    environment:
      - PROD=${PROD}
      - YT_DLP_PATH=${YT_DLP_PATH}
      - BOT_TOKEN=${BOT_TOKEN}
      - ADMIN_ID=${ADMIN_ID}
      - COOKIES_PATH=${COOKIES_PATH}
      - INSTAGRAM_COOKIES_PATH=${INSTAGRAM_COOKIES_PATH}
      - GOOGLE_COOKIES_PATH=${GOOGLE_COOKIES_PATH}
      - LOG_CHANNEL_ID=${LOG_CHANNEL_ID}
    volumes:
      - ./cookies:/app/cookies
